$color-Primary-dark-blue: #172339;
$color-Primary-greyish-blue: #49566d;
$color-Primary-greyish-white: #f3ede7;
$color-Primary-white: #faf8f6;
$color-Accent-purple-blue: #a060ff;
$color-Accent-purple-pink: #cb30e3;
$color-Accent-orange: #ffa84e;
// Fonts
$font-family: "Epilogue", sans-serif;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1110px;
