<article class="card container">
  <div class="grid grid-1x3">
    <picture class="card__image">
      <source
        media="(max-width:1109px)"
        type="image/webp"
        srcset="
          Assets/image-jeremy-small.webp    1x,
          Assets/image-jeremy-small@2x.webp 2x
        "
      />
      <source
        media="(max-width:1109px)"
        type="image/png"
        srcset="
          Assets/image-jeremy-small.png    1x,
          Assets/image-jeremy-small@2x.png 2x
        "
      />
      <source
        media="(min-width:1110px)"
        type="image/webp"
        srcset="
          Assets/image-jeremy-large.webp    1x,
          Assets/image-jeremy-large@2x.webp 2x
        "
      />
      <source
        media="(min-width:1110px)"
        type="image/png"
        srcset="
          Assets/image-jeremy-large.png    1x,
          Assets/image-jeremy-large@2x.png 2x
        "
      />

      <img src="Assets/image-jeremy-large.png" alt="" />
    </picture>
    <div class="curved-icon">
      <img src="Assets/pattern-curved-line-2.svg" alt="" />
    </div>
    <div class="card__content">
      <h2><span class="style">it just</span> works</h2>
      <p>
        “I really like how it is an all-in-one solution that handle many of the
        tasks that you would normally need separate tools to do the same job.
        This thing is a miracle worker.”
      </p>
      <div class="card__info">
        <h3>JEREMY ROBINSON</h3>
        <p>CMO, FYLO</p>
      </div>
    </div>
  </div>
</article>
