<section class="hero grid hero-grid-1x2 container">
  <div class="grid-item-1 grid grid-1x2">
    <div class="hero__content">
      <h1>
        <span class="hero-head-style">A </span>super solution
        <span class="hero-head-style">for your</span> business.
      </h1>
      <p>
        Our marketing and sales automations help you scale your outreach to get
        more leads for your company.
      </p>
      <button class="btn--blue">Request Beta Access</button>
    </div>
    <picture class="image__container">
      <source
        type="image/webp"
        media="(max-width: 799px)"
        srcset="
          Assets/image-hero-landscape.webp    1x,
          Assets/image-hero-landscape@2x.webp 2x
        "
      />
      <source
        type="image/png"
        media="(max-width: 799px)"
        srcset="
          Assets/image-hero-landscape.png    1x,
          Assets/image-hero-landscape@2x.png 2x
        "
      />
      <source
        type="image/webp"
        media="(min-width: 800px)"
        srcset="
          Assets/image-hero-portrait.webp    1x,
          Assets/image-hero-portrait@2x.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 800px)"
        srcset="
          Assets/image-hero-portrait.png    1x,
          Assets/image-hero-portrait@2x.png 2x
        "
      />
      <img src="Assets/image-hero-portrait.png" alt="" />
    </picture>
  </div>
  <div class="ratings grid-item-2">
    <div class="rate">
      <h2 class="rating-heading">2K<span>+</span></h2>
      <p class="rating-name">company</p>
    </div>
    <div class="rate">
      <h2 class="rating-heading">8k</h2>
      <p class="rating-name">LANGUAGES</p>
    </div>
    <div class="rate">
      <h2 class="rating-heading">1.2M</h2>
      <p class="rating-name">LEADS</p>
    </div>
  </div>
</section>
